serveur1/mariadb/dbdata/aria_log_control
serveur1/mariadb/dbdata/aria_log.00000001
serveur1/mariadb/dbdata/ddl_recovery-backup.log
serveur1/mariadb/dbdata/ddl_recovery.log
serveur1/mariadb/dbdata/ib_buffer_pool
serveur1/mariadb/dbdata/ib_logfile0
serveur1/mariadb/dbdata/ibdata1
serveur1/mariadb/dbdata/ibtmp1
serveur1/mariadb/dbdata/multi-master.info
serveur1/mariadb/dbdata/mysql_upgrade_info
serveur1/mariadb/dbdata/mysql/column_stats.frm
serveur1/mariadb/dbdata/mysql/column_stats.MAD
serveur1/mariadb/dbdata/mysql/column_stats.MAI
serveur1/mariadb/dbdata/mysql/columns_priv.frm
serveur1/mariadb/dbdata/mysql/columns_priv.MAD
serveur1/mariadb/dbdata/mysql/columns_priv.MAI
serveur1/mariadb/dbdata/mysql/db.frm
serveur1/mariadb/dbdata/mysql/db.MAD
serveur1/mariadb/dbdata/mysql/db.MAI
serveur1/mariadb/dbdata/mysql/db.opt
serveur1/mariadb/dbdata/mysql/event.frm
serveur1/mariadb/dbdata/mysql/event.MAD
serveur1/mariadb/dbdata/mysql/event.MAI
serveur1/mariadb/dbdata/mysql/func.frm
serveur1/mariadb/dbdata/mysql/func.MAD
serveur1/mariadb/dbdata/mysql/func.MAI
serveur1/mariadb/dbdata/mysql/general_log.CSM
serveur1/mariadb/dbdata/mysql/general_log.CSV
serveur1/mariadb/dbdata/mysql/general_log.frm
serveur1/mariadb/dbdata/mysql/global_priv.frm
serveur1/mariadb/dbdata/mysql/global_priv.MAD
serveur1/mariadb/dbdata/mysql/global_priv.MAI
serveur1/mariadb/dbdata/mysql/gtid_slave_pos.frm
serveur1/mariadb/dbdata/mysql/gtid_slave_pos.ibd
serveur1/mariadb/dbdata/mysql/help_category.frm
serveur1/mariadb/dbdata/mysql/help_category.MAD
serveur1/mariadb/dbdata/mysql/help_category.MAI
serveur1/mariadb/dbdata/mysql/help_keyword.frm
serveur1/mariadb/dbdata/mysql/help_keyword.MAD
serveur1/mariadb/dbdata/mysql/help_keyword.MAI
serveur1/mariadb/dbdata/mysql/help_relation.frm
serveur1/mariadb/dbdata/mysql/help_relation.MAD
serveur1/mariadb/dbdata/mysql/help_relation.MAI
serveur1/mariadb/dbdata/mysql/help_topic.frm
serveur1/mariadb/dbdata/mysql/help_topic.MAD
serveur1/mariadb/dbdata/mysql/help_topic.MAI
serveur1/mariadb/dbdata/mysql/index_stats.frm
serveur1/mariadb/dbdata/mysql/index_stats.MAD
serveur1/mariadb/dbdata/mysql/index_stats.MAI
serveur1/mariadb/dbdata/mysql/innodb_index_stats.frm
serveur1/mariadb/dbdata/mysql/innodb_index_stats.ibd
serveur1/mariadb/dbdata/mysql/innodb_table_stats.frm
serveur1/mariadb/dbdata/mysql/innodb_table_stats.ibd
serveur1/mariadb/dbdata/mysql/plugin.frm
serveur1/mariadb/dbdata/mysql/plugin.MAD
serveur1/mariadb/dbdata/mysql/plugin.MAI
serveur1/mariadb/dbdata/mysql/proc.frm
serveur1/mariadb/dbdata/mysql/proc.MAD
serveur1/mariadb/dbdata/mysql/proc.MAI
serveur1/mariadb/dbdata/mysql/procs_priv.frm
serveur1/mariadb/dbdata/mysql/procs_priv.MAD
serveur1/mariadb/dbdata/mysql/procs_priv.MAI
serveur1/mariadb/dbdata/mysql/proxies_priv.frm
serveur1/mariadb/dbdata/mysql/proxies_priv.MAD
serveur1/mariadb/dbdata/mysql/proxies_priv.MAI
serveur1/mariadb/dbdata/mysql/roles_mapping.frm
serveur1/mariadb/dbdata/mysql/roles_mapping.MAD
serveur1/mariadb/dbdata/mysql/roles_mapping.MAI
serveur1/mariadb/dbdata/mysql/servers.frm
serveur1/mariadb/dbdata/mysql/servers.MAD
serveur1/mariadb/dbdata/mysql/servers.MAI
serveur1/mariadb/dbdata/mysql/slow_log.CSM
serveur1/mariadb/dbdata/mysql/slow_log.CSV
serveur1/mariadb/dbdata/mysql/slow_log.frm
serveur1/mariadb/dbdata/mysql/table_stats.frm
serveur1/mariadb/dbdata/mysql/table_stats.MAD
serveur1/mariadb/dbdata/mysql/table_stats.MAI
serveur1/mariadb/dbdata/mysql/tables_priv.frm
serveur1/mariadb/dbdata/mysql/tables_priv.MAD
serveur1/mariadb/dbdata/mysql/tables_priv.MAI
serveur1/mariadb/dbdata/mysql/time_zone_leap_second.frm
serveur1/mariadb/dbdata/mysql/time_zone_leap_second.MAD
serveur1/mariadb/dbdata/mysql/time_zone_leap_second.MAI
serveur1/mariadb/dbdata/mysql/time_zone_name.frm
serveur1/mariadb/dbdata/mysql/time_zone_name.MAD
serveur1/mariadb/dbdata/mysql/time_zone_name.MAI
serveur1/mariadb/dbdata/mysql/time_zone_transition_type.frm
serveur1/mariadb/dbdata/mysql/time_zone_transition_type.MAD
serveur1/mariadb/dbdata/mysql/time_zone_transition_type.MAI
serveur1/mariadb/dbdata/mysql/time_zone_transition.frm
serveur1/mariadb/dbdata/mysql/time_zone_transition.MAD
serveur1/mariadb/dbdata/mysql/time_zone_transition.MAI
serveur1/mariadb/dbdata/mysql/time_zone.frm
serveur1/mariadb/dbdata/mysql/time_zone.MAD
serveur1/mariadb/dbdata/mysql/time_zone.MAI
serveur1/mariadb/dbdata/mysql/transaction_registry.frm
serveur1/mariadb/dbdata/mysql/transaction_registry.ibd
serveur1/mariadb/dbdata/mysql/user.frm
serveur1/mariadb/dbdata/performance_schema/db.opt
serveur1/mariadb/dbdata/sys/db.opt
serveur1/mariadb/dbdata/sys/host_summary_by_file_io_type.frm
serveur1/mariadb/dbdata/sys/host_summary_by_file_io.frm
serveur1/mariadb/dbdata/sys/host_summary_by_stages.frm
serveur1/mariadb/dbdata/sys/host_summary_by_statement_latency.frm
serveur1/mariadb/dbdata/sys/host_summary_by_statement_type.frm
serveur1/mariadb/dbdata/sys/host_summary.frm
serveur1/mariadb/dbdata/sys/innodb_buffer_stats_by_schema.frm
serveur1/mariadb/dbdata/sys/innodb_buffer_stats_by_table.frm
serveur1/mariadb/dbdata/sys/innodb_lock_waits.frm
serveur1/mariadb/dbdata/sys/io_by_thread_by_latency.frm
serveur1/mariadb/dbdata/sys/io_global_by_file_by_bytes.frm
serveur1/mariadb/dbdata/sys/io_global_by_file_by_latency.frm
serveur1/mariadb/dbdata/sys/io_global_by_wait_by_bytes.frm
serveur1/mariadb/dbdata/sys/io_global_by_wait_by_latency.frm
serveur1/mariadb/dbdata/sys/latest_file_io.frm
serveur1/mariadb/dbdata/sys/memory_by_host_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/memory_by_thread_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/memory_by_user_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/memory_global_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/memory_global_total.frm
serveur1/mariadb/dbdata/sys/metrics.frm
serveur1/mariadb/dbdata/sys/processlist.frm
serveur1/mariadb/dbdata/sys/ps_check_lost_instrumentation.frm
serveur1/mariadb/dbdata/sys/schema_auto_increment_columns.frm
serveur1/mariadb/dbdata/sys/schema_index_statistics.frm
serveur1/mariadb/dbdata/sys/schema_object_overview.frm
serveur1/mariadb/dbdata/sys/schema_redundant_indexes.frm
serveur1/mariadb/dbdata/sys/schema_table_lock_waits.frm
serveur1/mariadb/dbdata/sys/schema_table_statistics_with_buffer.frm
serveur1/mariadb/dbdata/sys/schema_table_statistics.frm
serveur1/mariadb/dbdata/sys/schema_tables_with_full_table_scans.frm
serveur1/mariadb/dbdata/sys/schema_unused_indexes.frm
serveur1/mariadb/dbdata/sys/session_ssl_status.frm
serveur1/mariadb/dbdata/sys/session.frm
serveur1/mariadb/dbdata/sys/statement_analysis.frm
serveur1/mariadb/dbdata/sys/statements_with_errors_or_warnings.frm
serveur1/mariadb/dbdata/sys/statements_with_full_table_scans.frm
serveur1/mariadb/dbdata/sys/statements_with_runtimes_in_95th_percentile.frm
serveur1/mariadb/dbdata/sys/statements_with_sorting.frm
serveur1/mariadb/dbdata/sys/statements_with_temp_tables.frm
serveur1/mariadb/dbdata/sys/sys_config.frm
serveur1/mariadb/dbdata/sys/sys_config.MAD
serveur1/mariadb/dbdata/sys/sys_config.MAI
serveur1/mariadb/dbdata/sys/user_summary_by_file_io_type.frm
serveur1/mariadb/dbdata/sys/user_summary_by_file_io.frm
serveur1/mariadb/dbdata/sys/user_summary_by_stages.frm
serveur1/mariadb/dbdata/sys/user_summary_by_statement_latency.frm
serveur1/mariadb/dbdata/sys/user_summary_by_statement_type.frm
serveur1/mariadb/dbdata/sys/user_summary.frm
serveur1/mariadb/dbdata/sys/version.frm
serveur1/mariadb/dbdata/sys/wait_classes_global_by_avg_latency.frm
serveur1/mariadb/dbdata/sys/wait_classes_global_by_latency.frm
serveur1/mariadb/dbdata/sys/waits_by_host_by_latency.frm
serveur1/mariadb/dbdata/sys/waits_by_user_by_latency.frm
serveur1/mariadb/dbdata/sys/waits_global_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024host_summary_by_file_io_type.frm
serveur1/mariadb/dbdata/sys/x@0024host_summary_by_file_io.frm
serveur1/mariadb/dbdata/sys/x@0024host_summary_by_stages.frm
serveur1/mariadb/dbdata/sys/x@0024host_summary_by_statement_latency.frm
serveur1/mariadb/dbdata/sys/x@0024host_summary_by_statement_type.frm
serveur1/mariadb/dbdata/sys/x@0024host_summary.frm
serveur1/mariadb/dbdata/sys/x@0024innodb_buffer_stats_by_schema.frm
serveur1/mariadb/dbdata/sys/x@0024innodb_buffer_stats_by_table.frm
serveur1/mariadb/dbdata/sys/x@0024innodb_lock_waits.frm
serveur1/mariadb/dbdata/sys/x@0024io_by_thread_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024io_global_by_file_by_bytes.frm
serveur1/mariadb/dbdata/sys/x@0024io_global_by_file_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024io_global_by_wait_by_bytes.frm
serveur1/mariadb/dbdata/sys/x@0024io_global_by_wait_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024latest_file_io.frm
serveur1/mariadb/dbdata/sys/x@0024memory_by_host_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/x@0024memory_by_thread_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/x@0024memory_by_user_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/x@0024memory_global_by_current_bytes.frm
serveur1/mariadb/dbdata/sys/x@0024memory_global_total.frm
serveur1/mariadb/dbdata/sys/x@0024processlist.frm
serveur1/mariadb/dbdata/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
serveur1/mariadb/dbdata/sys/x@0024ps_digest_avg_latency_distribution.frm
serveur1/mariadb/dbdata/sys/x@0024ps_schema_table_statistics_io.frm
serveur1/mariadb/dbdata/sys/x@0024schema_flattened_keys.frm
serveur1/mariadb/dbdata/sys/x@0024schema_index_statistics.frm
serveur1/mariadb/dbdata/sys/x@0024schema_table_lock_waits.frm
serveur1/mariadb/dbdata/sys/x@0024schema_table_statistics_with_buffer.frm
serveur1/mariadb/dbdata/sys/x@0024schema_table_statistics.frm
serveur1/mariadb/dbdata/sys/x@0024schema_tables_with_full_table_scans.frm
serveur1/mariadb/dbdata/sys/x@0024session.frm
serveur1/mariadb/dbdata/sys/x@0024statement_analysis.frm
serveur1/mariadb/dbdata/sys/x@0024statements_with_errors_or_warnings.frm
serveur1/mariadb/dbdata/sys/x@0024statements_with_full_table_scans.frm
serveur1/mariadb/dbdata/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
serveur1/mariadb/dbdata/sys/x@0024statements_with_sorting.frm
serveur1/mariadb/dbdata/sys/x@0024statements_with_temp_tables.frm
serveur1/mariadb/dbdata/sys/x@0024user_summary_by_file_io_type.frm
serveur1/mariadb/dbdata/sys/x@0024user_summary_by_file_io.frm
serveur1/mariadb/dbdata/sys/x@0024user_summary_by_stages.frm
serveur1/mariadb/dbdata/sys/x@0024user_summary_by_statement_latency.frm
serveur1/mariadb/dbdata/sys/x@0024user_summary_by_statement_type.frm
serveur1/mariadb/dbdata/sys/x@0024user_summary.frm
serveur1/mariadb/dbdata/sys/x@0024wait_classes_global_by_avg_latency.frm
serveur1/mariadb/dbdata/sys/x@0024wait_classes_global_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024waits_by_host_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024waits_by_user_by_latency.frm
serveur1/mariadb/dbdata/sys/x@0024waits_global_by_latency.frm
serveur2/mariadb/dbdata/aria_log_control
serveur2/mariadb/dbdata/aria_log.00000001
serveur2/mariadb/dbdata/ddl_recovery-backup.log
serveur2/mariadb/dbdata/ddl_recovery.log
serveur2/mariadb/dbdata/ib_buffer_pool
serveur2/mariadb/dbdata/ib_logfile0
serveur2/mariadb/dbdata/ibdata1
serveur2/mariadb/dbdata/ibtmp1
serveur2/mariadb/dbdata/multi-master.info
serveur2/mariadb/dbdata/mysql_upgrade_info
serveur2/mariadb/dbdata/mysql/column_stats.frm
serveur2/mariadb/dbdata/mysql/column_stats.MAD
serveur2/mariadb/dbdata/mysql/column_stats.MAI
serveur2/mariadb/dbdata/mysql/columns_priv.frm
serveur2/mariadb/dbdata/mysql/columns_priv.MAD
serveur2/mariadb/dbdata/mysql/columns_priv.MAI
serveur2/mariadb/dbdata/mysql/db.frm
serveur2/mariadb/dbdata/mysql/db.MAD
serveur2/mariadb/dbdata/mysql/db.MAI
serveur2/mariadb/dbdata/mysql/db.opt
serveur2/mariadb/dbdata/mysql/event.frm
serveur2/mariadb/dbdata/mysql/event.MAD
serveur2/mariadb/dbdata/mysql/event.MAI
serveur2/mariadb/dbdata/mysql/func.frm
serveur2/mariadb/dbdata/mysql/func.MAD
serveur2/mariadb/dbdata/mysql/func.MAI
serveur2/mariadb/dbdata/mysql/general_log.CSM
serveur2/mariadb/dbdata/mysql/general_log.CSV
serveur2/mariadb/dbdata/mysql/general_log.frm
serveur2/mariadb/dbdata/mysql/global_priv.frm
serveur2/mariadb/dbdata/mysql/global_priv.MAD
serveur2/mariadb/dbdata/mysql/global_priv.MAI
serveur2/mariadb/dbdata/mysql/gtid_slave_pos.frm
serveur2/mariadb/dbdata/mysql/gtid_slave_pos.ibd
serveur2/mariadb/dbdata/mysql/help_category.frm
serveur2/mariadb/dbdata/mysql/help_category.MAD
serveur2/mariadb/dbdata/mysql/help_category.MAI
serveur2/mariadb/dbdata/mysql/help_keyword.frm
serveur2/mariadb/dbdata/mysql/help_keyword.MAD
serveur2/mariadb/dbdata/mysql/help_keyword.MAI
serveur2/mariadb/dbdata/mysql/help_relation.frm
serveur2/mariadb/dbdata/mysql/help_relation.MAD
serveur2/mariadb/dbdata/mysql/help_relation.MAI
serveur2/mariadb/dbdata/mysql/help_topic.frm
serveur2/mariadb/dbdata/mysql/help_topic.MAD
serveur2/mariadb/dbdata/mysql/help_topic.MAI
serveur2/mariadb/dbdata/mysql/index_stats.frm
serveur2/mariadb/dbdata/mysql/index_stats.MAD
serveur2/mariadb/dbdata/mysql/index_stats.MAI
serveur2/mariadb/dbdata/mysql/innodb_index_stats.frm
serveur2/mariadb/dbdata/mysql/innodb_index_stats.ibd
serveur2/mariadb/dbdata/mysql/innodb_table_stats.frm
serveur2/mariadb/dbdata/mysql/innodb_table_stats.ibd
serveur2/mariadb/dbdata/mysql/plugin.frm
serveur2/mariadb/dbdata/mysql/plugin.MAD
serveur2/mariadb/dbdata/mysql/plugin.MAI
serveur2/mariadb/dbdata/mysql/proc.frm
serveur2/mariadb/dbdata/mysql/proc.MAD
serveur2/mariadb/dbdata/mysql/proc.MAI
serveur2/mariadb/dbdata/mysql/procs_priv.frm
serveur2/mariadb/dbdata/mysql/procs_priv.MAD
serveur2/mariadb/dbdata/mysql/procs_priv.MAI
serveur2/mariadb/dbdata/mysql/proxies_priv.frm
serveur2/mariadb/dbdata/mysql/proxies_priv.MAD
serveur2/mariadb/dbdata/mysql/proxies_priv.MAI
serveur2/mariadb/dbdata/mysql/roles_mapping.frm
serveur2/mariadb/dbdata/mysql/roles_mapping.MAD
serveur2/mariadb/dbdata/mysql/roles_mapping.MAI
serveur2/mariadb/dbdata/mysql/servers.frm
serveur2/mariadb/dbdata/mysql/servers.MAD
serveur2/mariadb/dbdata/mysql/servers.MAI
serveur2/mariadb/dbdata/mysql/slow_log.CSM
serveur2/mariadb/dbdata/mysql/slow_log.CSV
serveur2/mariadb/dbdata/mysql/slow_log.frm
serveur2/mariadb/dbdata/mysql/table_stats.frm
serveur2/mariadb/dbdata/mysql/table_stats.MAD
serveur2/mariadb/dbdata/mysql/table_stats.MAI
serveur2/mariadb/dbdata/mysql/tables_priv.frm
serveur2/mariadb/dbdata/mysql/tables_priv.MAD
serveur2/mariadb/dbdata/mysql/tables_priv.MAI
serveur2/mariadb/dbdata/mysql/time_zone_leap_second.frm
serveur2/mariadb/dbdata/mysql/time_zone_leap_second.MAD
serveur2/mariadb/dbdata/mysql/time_zone_leap_second.MAI
serveur2/mariadb/dbdata/mysql/time_zone_name.frm
serveur2/mariadb/dbdata/mysql/time_zone_name.MAD
serveur2/mariadb/dbdata/mysql/time_zone_name.MAI
serveur2/mariadb/dbdata/mysql/time_zone_transition_type.frm
serveur2/mariadb/dbdata/mysql/time_zone_transition_type.MAD
serveur2/mariadb/dbdata/mysql/time_zone_transition_type.MAI
serveur2/mariadb/dbdata/mysql/time_zone_transition.frm
serveur2/mariadb/dbdata/mysql/time_zone_transition.MAD
serveur2/mariadb/dbdata/mysql/time_zone_transition.MAI
serveur2/mariadb/dbdata/mysql/time_zone.frm
serveur2/mariadb/dbdata/mysql/time_zone.MAD
serveur2/mariadb/dbdata/mysql/time_zone.MAI
serveur2/mariadb/dbdata/mysql/transaction_registry.frm
serveur2/mariadb/dbdata/mysql/transaction_registry.ibd
serveur2/mariadb/dbdata/mysql/user.frm
serveur2/mariadb/dbdata/performance_schema/db.opt
serveur2/mariadb/dbdata/sys/db.opt
serveur2/mariadb/dbdata/sys/host_summary_by_file_io_type.frm
serveur2/mariadb/dbdata/sys/host_summary_by_file_io.frm
serveur2/mariadb/dbdata/sys/host_summary_by_stages.frm
serveur2/mariadb/dbdata/sys/host_summary_by_statement_latency.frm
serveur2/mariadb/dbdata/sys/host_summary_by_statement_type.frm
serveur2/mariadb/dbdata/sys/host_summary.frm
serveur2/mariadb/dbdata/sys/innodb_buffer_stats_by_schema.frm
serveur2/mariadb/dbdata/sys/innodb_buffer_stats_by_table.frm
serveur2/mariadb/dbdata/sys/innodb_lock_waits.frm
serveur2/mariadb/dbdata/sys/io_by_thread_by_latency.frm
serveur2/mariadb/dbdata/sys/io_global_by_file_by_bytes.frm
serveur2/mariadb/dbdata/sys/io_global_by_file_by_latency.frm
serveur2/mariadb/dbdata/sys/io_global_by_wait_by_bytes.frm
serveur2/mariadb/dbdata/sys/io_global_by_wait_by_latency.frm
serveur2/mariadb/dbdata/sys/latest_file_io.frm
serveur2/mariadb/dbdata/sys/memory_by_host_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/memory_by_thread_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/memory_by_user_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/memory_global_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/memory_global_total.frm
serveur2/mariadb/dbdata/sys/metrics.frm
serveur2/mariadb/dbdata/sys/processlist.frm
serveur2/mariadb/dbdata/sys/ps_check_lost_instrumentation.frm
serveur2/mariadb/dbdata/sys/schema_auto_increment_columns.frm
serveur2/mariadb/dbdata/sys/schema_index_statistics.frm
serveur2/mariadb/dbdata/sys/schema_object_overview.frm
serveur2/mariadb/dbdata/sys/schema_redundant_indexes.frm
serveur2/mariadb/dbdata/sys/schema_table_lock_waits.frm
serveur2/mariadb/dbdata/sys/schema_table_statistics_with_buffer.frm
serveur2/mariadb/dbdata/sys/schema_table_statistics.frm
serveur2/mariadb/dbdata/sys/schema_tables_with_full_table_scans.frm
serveur2/mariadb/dbdata/sys/schema_unused_indexes.frm
serveur2/mariadb/dbdata/sys/session_ssl_status.frm
serveur2/mariadb/dbdata/sys/session.frm
serveur2/mariadb/dbdata/sys/statement_analysis.frm
serveur2/mariadb/dbdata/sys/statements_with_errors_or_warnings.frm
serveur2/mariadb/dbdata/sys/statements_with_full_table_scans.frm
serveur2/mariadb/dbdata/sys/statements_with_runtimes_in_95th_percentile.frm
serveur2/mariadb/dbdata/sys/statements_with_sorting.frm
serveur2/mariadb/dbdata/sys/statements_with_temp_tables.frm
serveur2/mariadb/dbdata/sys/sys_config.frm
serveur2/mariadb/dbdata/sys/sys_config.MAD
serveur2/mariadb/dbdata/sys/sys_config.MAI
serveur2/mariadb/dbdata/sys/user_summary_by_file_io_type.frm
serveur2/mariadb/dbdata/sys/user_summary_by_file_io.frm
serveur2/mariadb/dbdata/sys/user_summary_by_stages.frm
serveur2/mariadb/dbdata/sys/user_summary_by_statement_latency.frm
serveur2/mariadb/dbdata/sys/user_summary_by_statement_type.frm
serveur2/mariadb/dbdata/sys/user_summary.frm
serveur2/mariadb/dbdata/sys/version.frm
serveur2/mariadb/dbdata/sys/wait_classes_global_by_avg_latency.frm
serveur2/mariadb/dbdata/sys/wait_classes_global_by_latency.frm
serveur2/mariadb/dbdata/sys/waits_by_host_by_latency.frm
serveur2/mariadb/dbdata/sys/waits_by_user_by_latency.frm
serveur2/mariadb/dbdata/sys/waits_global_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024host_summary_by_file_io_type.frm
serveur2/mariadb/dbdata/sys/x@0024host_summary_by_file_io.frm
serveur2/mariadb/dbdata/sys/x@0024host_summary_by_stages.frm
serveur2/mariadb/dbdata/sys/x@0024host_summary_by_statement_latency.frm
serveur2/mariadb/dbdata/sys/x@0024host_summary_by_statement_type.frm
serveur2/mariadb/dbdata/sys/x@0024host_summary.frm
serveur2/mariadb/dbdata/sys/x@0024innodb_buffer_stats_by_schema.frm
serveur2/mariadb/dbdata/sys/x@0024innodb_buffer_stats_by_table.frm
serveur2/mariadb/dbdata/sys/x@0024innodb_lock_waits.frm
serveur2/mariadb/dbdata/sys/x@0024io_by_thread_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024io_global_by_file_by_bytes.frm
serveur2/mariadb/dbdata/sys/x@0024io_global_by_file_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024io_global_by_wait_by_bytes.frm
serveur2/mariadb/dbdata/sys/x@0024io_global_by_wait_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024latest_file_io.frm
serveur2/mariadb/dbdata/sys/x@0024memory_by_host_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/x@0024memory_by_thread_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/x@0024memory_by_user_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/x@0024memory_global_by_current_bytes.frm
serveur2/mariadb/dbdata/sys/x@0024memory_global_total.frm
serveur2/mariadb/dbdata/sys/x@0024processlist.frm
serveur2/mariadb/dbdata/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
serveur2/mariadb/dbdata/sys/x@0024ps_digest_avg_latency_distribution.frm
serveur2/mariadb/dbdata/sys/x@0024ps_schema_table_statistics_io.frm
serveur2/mariadb/dbdata/sys/x@0024schema_flattened_keys.frm
serveur2/mariadb/dbdata/sys/x@0024schema_index_statistics.frm
serveur2/mariadb/dbdata/sys/x@0024schema_table_lock_waits.frm
serveur2/mariadb/dbdata/sys/x@0024schema_table_statistics_with_buffer.frm
serveur2/mariadb/dbdata/sys/x@0024schema_table_statistics.frm
serveur2/mariadb/dbdata/sys/x@0024schema_tables_with_full_table_scans.frm
serveur2/mariadb/dbdata/sys/x@0024session.frm
serveur2/mariadb/dbdata/sys/x@0024statement_analysis.frm
serveur2/mariadb/dbdata/sys/x@0024statements_with_errors_or_warnings.frm
serveur2/mariadb/dbdata/sys/x@0024statements_with_full_table_scans.frm
serveur2/mariadb/dbdata/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
serveur2/mariadb/dbdata/sys/x@0024statements_with_sorting.frm
serveur2/mariadb/dbdata/sys/x@0024statements_with_temp_tables.frm
serveur2/mariadb/dbdata/sys/x@0024user_summary_by_file_io_type.frm
serveur2/mariadb/dbdata/sys/x@0024user_summary_by_file_io.frm
serveur2/mariadb/dbdata/sys/x@0024user_summary_by_stages.frm
serveur2/mariadb/dbdata/sys/x@0024user_summary_by_statement_latency.frm
serveur2/mariadb/dbdata/sys/x@0024user_summary_by_statement_type.frm
serveur2/mariadb/dbdata/sys/x@0024user_summary.frm
serveur2/mariadb/dbdata/sys/x@0024wait_classes_global_by_avg_latency.frm
serveur2/mariadb/dbdata/sys/x@0024wait_classes_global_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024waits_by_host_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024waits_by_user_by_latency.frm
serveur2/mariadb/dbdata/sys/x@0024waits_global_by_latency.frm
